*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    background-color: rgb(0,0,16);
}



#imageuser{
    position: relative;
    top: 10vh;
    left: 8%;
    background-color: rgb(59, 53, 53);
    border: 1px solid rgb(85, 79, 79);
    width: 80px;
    height: 13vh;
    border-radius: 100px;
}

