* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 16);
}



#imageuser {
    position: relative;
    top: 8vh;
    left: 6%;
    background-color: rgb(59, 53, 53);
    border: 1px solid rgb(85, 79, 79);
    width: 73px;
    height: 13vh;
    border-radius: 100px;
}

.btn-dashboard {
    border: none;
    position: relative;
    top: 16vh;
    width: 18%;
    height: 45vh;
    border-radius: 15px;
}

#button-menu {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 7.2vh;
    border-radius: 15px;
}

#button-menu:hover {
    background-color: rgb(4, 4, 43);
}

#led-color {
    position: absolute;
    width: 8px;
    height: 7.2vh;
    background-color: rgb(25, 124, 12);
    border-radius: 15px;
}